.wrapper {
  padding-top: 50px;
  background: linear-gradient(to bottom, rgb(0, 0, 7), rgb(57, 36, 95),  rgb(161, 129, 219));
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  max-width: 980px;
  min-height: 100%;
  margin: 0 auto;
}
