.wrapper {
  padding-top: 50px;
  background: rgb(39, 72, 95);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  max-width: 980px;
  min-height: 100%;
  margin: 0 auto;
}
